
.octo {
    width: 1500px;
    height: 300px;
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    
}
.octo img {
    float: left;
    margin-right: 10px;
}
h1{
    justify-content: center;
    text-align: center;
}
